body{
	background: url(../images/gplaypattern.png);
	background-repeat: repeat;
  width:100%;
  padding: 0;
  margin:0;
  font-family: 'Raleway', sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button{
  color:black;
}
#contrast{
   background-color: #fff !important;
   font-size: 5em;
}
#hamburger{
  background:none;
  position:fixed;
  top:10px;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  border:0;
  font-size:1.4em;
  cursor:pointer;
  outline:none;
  z-index:10;
}



.fa-active{
  color: white;
}

/*Mobile CSS*/
  @media screen and (min-device-width: 300px) { 
    #about{
      width:100%;
      margin: auto;
      text-align: center;
    }

    #profile{
      display: block;
      margin:auto;
      float: none;
      text-align: center;
      position: relative;
               animation: fadein 2s;
    }
    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
    .circle {
    align-content: center;
    width: 190px;
    height: 190px;
    border: 9px solid blue;
    border-radius: 100px;
    position: fixed;



  }

  .circle:hover {

    border: 9px solid red;

  }
    nav {
  padding-top: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: opacity 700ms step-end, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94), visibility 700ms step-end, background-color 700ms cubic-bezier(0.8, 0, 0.55, 0.94);

}
nav a{
  color: white;
  font-size: 2.6em;
  display: block;

}

nav a:hover{
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
   border-bottom-color: white;
   border-bottom-style: solid;

}

.show-menu {
 opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: opacity 700ms step-start, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94), visibility 700ms step-start, background-color 700ms cubic-bezier(0.8, 0, 0.55, 0.94);


}

.nav-menu{
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: opacity 700ms step-end, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94), visibility 700ms step-end, background-color 700ms cubic-bezier(0.8, 0, 0.55, 0.94);

}
nav a {
  padding: 1em;
  display: block;


}


#roles{
  min-height: 500px;
}

#education{
  min-height: 500px
}

#portfolio{
  min-height: 500px;
}


h1{
	color: red;
	text-align: center;
}
a {
  color: #000;
  text-decoration: none;
}
}
/*Tablet CSS*/
  @media  screen and (min-device-width: 600px) { 
  	h1{
  		color: blue;
  		text-align: center;
  	} 

    nav a{
  color: white;
  font-size: 3.6em;
  display: block;

}

nav a:hover{
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: white;
   border-bottom-color: white;
   border-bottom-style: solid;

}
  }

/*Desktop CSS*/
  @media screen and (min-device-width: 1200px) {
  	h1{
  		color: green;
  		text-align: center;
  	}
  }









